# CENTRAL LIBRARY

Please execute the cell in order for smooth execution of the code. Please get back to me if something isn't working

In [2]:
#Please Install using pip3 install SQLALCHEMY
#This cell creates required tables
from sqlalchemy import *
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref, sessionmaker
from datetime import datetime, timedelta

engine = create_engine('sqlite:///lib.db', echo=False)#Set this to true if SQLALchemy logs are to be enabled
Base = declarative_base()
Session = sessionmaker(bind = engine)
session = Session()

class StudentModel(Base):
    #create table Students
    __tablename__='students'

    student_id=Column(Integer, primary_key=True)
    std_name=Column(Integer)
    std_surname=Column(String(80))
    borrowed_amt=Column(Integer)
    borrow=relationship('BorrowModel')
    
    #Initialisation Method
    
    def __init__(self, std_name,std_surname,borrowed_amt):
        self.std_name=std_name
        self.std_surname=std_surname
        self.borrowed_amt=borrowed_amt

    @classmethod
    def find_by_name(cls,std_name):
        return session.query(cls).filter(cls.std_name.like('%'+std_name+'%'))

    
    def save_to_db(self):
        db.session.add(self)
        db.session.commit()
        
    @classmethod
    def check_limit(cls,student_id):
        return cls.query.filter_by(student_id=student_id)
    

class BookModel(Base):
    #create Books table
    __tablename__="books"

    
    book_id=Column(Integer, primary_key=True)
    isbn=Column(String(10))
    bk_title=Column(String(80))
    bk_subject=Column(String(100))
    bk_author=Column(String(30))
    bk_quantity=Column(Integer)
    borrow=relationship('BorrowModel')

    #Initialisation Method
   
    def __init__(self, isbn, book_title,subject,authors,quantity):
        self.isbn=isbn
        self.bk_title=book_title
        self.bk_author=authors
        self.bk_subject=subject
        self.bk_quantity=quantity

    @classmethod
    def find_by_isbn(cls,isbn):
        return session.query(cls).filter(cls.isbn.like('%'+isbn+'%')).all()

    @classmethod
    def find_by_title(cls,bk_title):
        return session.query(cls).filter(cls.bk_title.like('%'+bk_title+'%')).all()
    
    @classmethod
    def find_by_subject(cls,bk_subject):
        return session.query(cls).filter(cls.bk_subject.like('%'+bk_subject+'%')).all()
    
    @classmethod
    def find_by_author(cls,bk_author):
        return session.query(cls).filter(cls.bk_author.like('%'+bk_author+'%')).all()
    
    def save_to_db(self):
        db.session.add(self)
        db.session.commit()
        
    
class BorrowModel(Base):
    #create Borrow Table
    __tablename__='borrows'

    borrow_id=Column(Integer, primary_key=True)
    student_id=Column(Integer,ForeignKey('students.student_id'))
    book_id=Column(String(80),ForeignKey('books.book_id'))
    borrowed_date=Column(Date)
    available_date=Column(Date)
    status=Column(String(30))
    borrow=relationship(StudentModel)
    book=relationship(BookModel)

    #Initialisation Method
    def __init__(self,student_id,book_id,status):
        self.student_id=student_id
        self.book_id=book_id
        self.status=status
        self.borrowed_date=datetime.now()
        self.available_date=datetime.now() + timedelta(days=7)
        
#This code creates all tables in lib.db        
Base.metadata.create_all(engine)

In [2]:
#I got a Book dataset from Kaggle https://www.kaggle.com/zygmunt/goodbooks-10k/data#books.csv, and laoding it in database.
#I'm loading only 300 entries to keep it simple
#RUN this cell only
import pandas as pd
import csv

items=[]
rows=pd.read_csv('books.csv')
df=pd.DataFrame(rows,columns=['id','book_id','isbn','authors','title','quantity'])
print(df)
for i in range(0,300):
    print(df.loc[i]['id'])
    std=BookModel(df.loc[i]['isbn'],df.loc[i]['title'],"NUll",df.loc[i]['authors'],int(df.loc[i]['quantity']))
    session.add(std)
session.commit()

        id   book_id        isbn  \
0        1   2767052   439023483
1        2         3   439554934
2        3     41865   316015849
3        4      2657    61120081
4        5      4671   743273567
5        6  11870085   525478817
6        7      5907   618260307
7        8      5107   316769177
8        9       960  1416524797
9       10      1885   679783261
10      11     77203  1594480001
11      12  13335037    62024035
12      13      5470   451524934
13      14      7613   452284244
14      15     48855   553296981
15      16   2429135   307269752
16      17   6148028   439023491
17      18         5  043965548X
18      19        34   618346252
19      20   7260188   439023513
20      21         2   439358078
21      22  12232938   316166685
22      23     15881   439064864
23      24         6   439139600
24      25    136251   545010225
25      26       968   307277674
26      27         1   439785960
27      28      7624   140283331
28      29     18135   743477111
29      30   8442457   297859382
...    ...       ...         ...
2970  2971   4345498   441017029
2971  2972  15748898  1478322306
2972  2973    124918   425176088
2973  2974   7201913   446545244
2974  2975      4983   791071685
2975  2976     91248   192751077
2976  2977    216422   553564927
2977  2978  13578175  1616960922
2978  2979   2906039  1416584080
2979  2980    201114   786851716
2980  2981    552887   316015059
2981  2982     27822   192838997
2982  2983  13138635  1423171020
2983  2984   2986865   670062278
2984  2985      4538   689862210
2985  2986   7933615   312594429
2986  2987  11454587  1423121325
2987  2988     32979  1557091552
2988  2989     33810   446679089
2989  2990    325421    60775971
2990  2991     10911   743454510
2991  2992     94803  069401298X
2992  2993   6219656  1563127873
2993  2994     58822   345459202
2994  2995     74824   345485750
2995  2996   7896345    61797022
2996  2997   9833184  1595143203
2997  2998   6479550   441018521
2998  2999  25152052  1501116975
2999  3000     47990   552154164

                                                authors  \
0                                       Suzanne Collins
1                           J.K. Rowling, Mary GrandPré
2                                       Stephenie Meyer
3                                            Harper Lee
4                                   F. Scott Fitzgerald
5                                            John Green
6                                        J.R.R. Tolkien
7                                         J.D. Salinger
8                                             Dan Brown
9                                           Jane Austen
10                                      Khaled Hosseini
11                                        Veronica Roth
12              George Orwell, Erich Fromm, Celâl Üster
13                                        George Orwell
14    Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...
15                           Stieg Larsson, Reg Keeland
16                                      Suzanne Collins
17              J.K. Rowling, Mary GrandPré, Rufus Beck
18                                       J.R.R. Tolkien
19                                      Suzanne Collins
20                          J.K. Rowling, Mary GrandPré
21                                         Alice Sebold
22                          J.K. Rowling, Mary GrandPré
23                          J.K. Rowling, Mary GrandPré
24                          J.K. Rowling, Mary GrandPré
25                                            Dan Brown
26                          J.K. Rowling, Mary GrandPré
27                                      William Golding
28        William Shakespeare, Robert           Jackson
29                                        Gillian Flynn
...                                                 ...
2970                                      Ilona Andrews
2971                                 Chelsea M. Cameron
2972                                      Arthur Hailey
2973                                    James Patterson
2974  Harold Bloom, Terry Southern, David H. Goldsmi...
2975                      Beverly Cleary, Alan Tiegreen
2976                                       Timothy Zahn
2977                                  Brandon Sanderson
2978                                       Stephen King
2979                                 Patricia McCormick
2980                                    James Patterson
2981                  Alexander Pushkin, James E. Falen
2982                       Amie Kaufman, Meagan Spooner
2983                                     Alison Goodman
2984                                    E.L. Konigsburg
2985                            P.C. Cast, Kristin Cast
2986                                     Rachel Hawkins
2987     Carolyn Keene, Russell H. Tandy, Sara Paretsky
2988                                     Nelson DeMille
2989                        Hugh Lofting, Michael Hague
2990                                       Jodi Picoult
2991                                       Arnold Lobel
2992                                    Shirley Jackson
2993                                   Adriana Trigiani
2994                                        Steve Berry
2995                                   Kelley Armstrong
2996                                      Richelle Mead
2997                                      Ilona Andrews
2998     Isabel Allende, Nick Caistor, Amanda Hopkinson
2999                                    Terry Pratchett

                                                  title  quantity
0               The Hunger Games (The Hunger Games, #1)         5
1     Harry Potter and the Sorcerer's Stone (Harry P...         4
2                               Twilight (Twilight, #1)         3
3                                 To Kill a Mockingbird         2
4                                      The Great Gatsby         1
5                                The Fault in Our Stars         0
6                                            The Hobbit         5
7                                The Catcher in the Rye         4
8                 Angels & Demons  (Robert Langdon, #1)         3
9                                   Pride and Prejudice         2
10                                      The Kite Runner         1
11                            Divergent (Divergent, #1)         0
12                                                 1984         5
13                                          Animal Farm         4
14                            The Diary of a Young Girl         3
15     The Girl with the Dragon Tattoo (Millennium, #1)         2
16                 Catching Fire (The Hunger Games, #2)         1
17    Harry Potter and the Prisoner of Azkaban (Harr...         0
18    The Fellowship of the Ring (The Lord of the Ri...         5
19                    Mockingjay (The Hunger Games, #3)         4
20    Harry Potter and the Order of the Phoenix (Har...         3
21                                     The Lovely Bones         2
22    Harry Potter and the Chamber of Secrets (Harry...         1
23    Harry Potter and the Goblet of Fire (Harry Pot...         0
24    Harry Potter and the Deathly Hallows (Harry Po...         5
25               The Da Vinci Code (Robert Langdon, #2)         4
26    Harry Potter and the Half-Blood Prince (Harry ...         3
27                                    Lord of the Flies         2
28                                     Romeo and Juliet         1
29                                            Gone Girl         0
...                                                 ...       ...
2970                   Magic Strikes (Kate Daniels, #3)         5
2971      My Favorite Mistake (My Favorite Mistake, #1)         4
2972                                            Airport         3
2973                           Angel (Maximum Ride, #7)         2
2974  Kurt Vonnegut's Cat's Cradle (Modern Critical ...         1
2975                      Ramona the Brave (Ramona, #3)         0
2976                                   The Last Command         5
2977                                 The Emperor's Soul         4
2978                                  Just After Sunset         3
2979                                               Sold         2
2980                     Double Cross (Alex Cross, #13)         1
2981                                      Eugene Onegin         0
2982                 These Broken Stars (Starbound, #1)         5
2983                    Eon: Dragoneye Reborn (Eon, #1)         4
2984                             The View from Saturday         3
2985                       Hidden (House of Night, #10)         2
2986                         Spell Bound (Hex Hall, #3)         1
2987       The Secret of the Old Clock (Nancy Drew, #1)         0
2988                       Plum Island (John Corey, #1)         5
2989  The Story of Doctor Dolittle (Doctor Dolittle,...         4
2990                                      Second Glance         3
2991         Frog and Toad Together (Frog and Toad, #2)         2
2992                                        The Lottery         1
2993                  Big Stone Gap (Big Stone Gap, #1)         0
2994            The Alexandria Link (Cotton Malone, #2)         5
2995                The Gathering (Darkness Rising, #1)         4
2996                   The Fiery Heart (Bloodlines, #4)         3
2997                    Magic Bleeds (Kate Daniels, #4)         2
2998                                 The Japanese Lover         1
2999             Jingo (Discworld, #21; City Watch, #4)         0

[3000 rows x 6 columns]
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126

127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300

In [4]:
#Convert a datatype to JSON
import json

In [3]:
#inserts 3 users in table, student_id is set to auto increment
#The __init__ method is invoked
std=[StudentModel("Geethesh","Bhat",0),
StudentModel("Bob","Marley",0),
StudentModel("Joe","Harry",0)]

session.bulk_save_objects(std)
session.commit()

# This section makes sure everything is setup

In [15]:
#The Borrow table must be empty, entries will be populated when Students borrow books
#select * from students
rows=session.query(BorrowModel).all()
items=[]
for row in rows:
    item={
        "Student ID":row.student_id,
        "Book ID":row.book_id,
        "Borrow ID": row.borrow_id,
        "Borrowed Date":row.borrowed_date,
        "Available Date":row.available_date,
        "Status":row.status
        
    }
    items.append(item)
print(items)

[{'Student ID': 1, 'Book ID': '1', 'Borrow ID': 1, 'Borrowed Date': datetime.date(2020, 4, 16), 'Available Date': datetime.date(2020, 4, 23), 'Status': 'Issued'}]

In [7]:
#displays students table
#select * from students
rows=session.query(StudentModel).all()
items=[]
for row in rows:
    item={
        "id":row.student_id,
        "name":row.std_name,
        "surname":row.std_surname,
        "borrowed books": row.borrowed_amt
    }
    items.append(item)
json.dumps(items)

'[{"id": 1, "name": "Geethesh", "surname": "Bhat", "borrowed books": 0}, {"id": 2, "name": "Bob", "surname": "Marley", "borrowed books": 0}, {"id": 3, "name": "Joe", "surname": "Harry", "borrowed books": 0}]'

In [8]:
# Join on borrws and students table on borrows.student_id=students.student_id
#This should also be empty as there's no entry in borrow table to join
rows=session.query(BorrowModel).join(StudentModel)
items=[]
for row in rows:
#     for ent in row.StudentModel:
    item={
        "Student ID":row.student_id,
        "Book ID":row.book_id,
        "Borrow ID": row.borrow_id,
        "Borrowed Date":row.borrowed_date,
        "Available Date":row.available_date
        
    }
    items.append(item)
print(items)

[]

In [ ]:
# Join on borrws and books table on borrows.book_id=borrows.book_id
#This should also be empty as there's no entry in borrow table to join
rows=session.query(BorrowModel).join(BookModel).filter(BookModel.isbn=="4393483")
items=[]
for row in rows:
    item={
        "Available Date":row.available_date}
    items.append(item)
print(items)

# We have setup the environment
The use case mentioned in mail is implemented here

In [9]:
#We will be performing operations using the students we created earlier
rows=StudentModel.find_by_name("geeth")
items=[]
for row in rows:
#     for ent in row.StudentModel:
    item={
        "Student ID":row.student_id,
        "Book ID":row.std_name,
        "Borrow ID": row.std_surname,
        "Borrowed Date":row.borrowed_amt
        
    }
    items.append(item)
json.dumps(items)

'[{"Student ID": 1, "Book ID": "Geethesh", "Borrow ID": "Bhat", "Borrowed Date": 0}]'

# Search book by ISBN, Title, Author

In [7]:
#find books by title
#please feel free to change the title
rows=BookModel.find_by_title("mocking")
items=[]
#prints the selected rows
for row in rows:
    item={
        "Book_ID":row.book_id,
        "ISBN":row.isbn,
        "Book title":row.bk_title,
        "Book Author": row.bk_author,
        "Book Subject":row.bk_subject,
        "Quantity":row.bk_quantity
        
    }
    items.append(item)
json.dumps(items)

'[{"Book_ID": 4, "ISBN": "61120081", "Book title": "To Kill a Mockingbird", "Book Author": "Harper Lee", "Book Subject": "NUll", "Quantity": 2}, {"Book_ID": 20, "ISBN": "439023513", "Book title": "Mockingjay (The Hunger Games, #3)", "Book Author": "Suzanne Collins", "Book Subject": "NUll", "Quantity": 4}]'

In [8]:
 #find books by isbn
rows=BookModel.find_by_isbn("1416914285")
items=[]
#prints the selected rows
for row in rows:
    item={
        "Book_ID":row.book_id,
        "ISBN":row.isbn,
        "Book title":row.bk_title,
        "Book Author": row.bk_author,
        "Book Subject":row.bk_subject,
        "Quantity":row.bk_quantity
        
    }
    items.append(item)
json.dumps(items)

'[{"Book_ID": 51, "ISBN": "1416914285", "Book title": "City of Bones (The Mortal Instruments, #1)", "Book Author": "Cassandra Clare", "Book Subject": "NUll", "Quantity": 3}]'

In [9]:
 #find books by author
rows=BookModel.find_by_author("cass")
items=[]
#prints the selected rows
for row in rows:
    item={
        "Book_ID":row.book_id,
        "ISBN":row.isbn,
        "Book title":row.bk_title,
        "Book Author": row.bk_author,
        "Book Subject":row.bk_subject,
        "Quantity":row.bk_quantity
        
    }
    items.append(item)
json.dumps(items)

'[{"Book_ID": 51, "ISBN": "1416914285", "Book title": "City of Bones (The Mortal Instruments, #1)", "Book Author": "Cassandra Clare", "Book Subject": "NUll", "Quantity": 3}, {"Book_ID": 134, "ISBN": "1416914307", "Book title": "City of Glass (The Mortal Instruments, #3)", "Book Author": "Cassandra Clare", "Book Subject": "NUll", "Quantity": 4}, {"Book_ID": 153, "ISBN": "1416914293", "Book title": "City of Ashes (The Mortal Instruments, #2)", "Book Author": "Cassandra Clare", "Book Subject": "NUll", "Quantity": 3}, {"Book_ID": 183, "ISBN": "1416975861", "Book title": "Clockwork Angel (The Infernal Devices, #1)", "Book Author": "Cassandra Clare", "Book Subject": "NUll", "Quantity": 3}, {"Book_ID": 206, "ISBN": "62059939", "Book title": "The Selection (The Selection, #1)", "Book Author": "Kiera Cass", "Book Subject": "NUll", "Quantity": 4}]'

## Check users borrow quota i.e max 2, the function is called at the time of borrowing a book

In [4]:
def check_books(std_id):
    '''This cell checks students borrow quota. 
        First checks the quota, 
        if doesn't exceed then 
        it will be incremented every time a book
        is allocated'''
    rows=session.query(StudentModel).filter(StudentModel.student_id==std_id)
    items=[]
    for row in rows:
        item={
            "id":row.student_id,
            "name":row.std_name,
            "surname":row.std_surname,
            "borrowed books": row.borrowed_amt
        }
        items.append(item)
    if(row.borrowed_amt<2):
        return True
    else:
        return False
print(check_books(1))

True

In [28]:
'''This section allows user to borrow book
Note the entries in Borrows table automatically populates, also the next available date
The book can currently be borrowed using ISBN of the book'''
def check_availability(bookISBN,std_id):
    item=[]
    rw=session.query(BookModel).filter(and_(BookModel.isbn==bookISBN,BookModel.bk_quantity!=0)).one_or_none()
    if rw:
        item={
            "Book_ID":rw.book_id,
            "ISBN":rw.isbn,
            "Book title":rw.bk_title,
            "Book Author": rw.bk_author,
            "Book Subject":rw.bk_subject,
            "Quantity":rw.bk_quantity}
        if check_books(std_id) is True:
            return bookborrow(std_id,rw.book_id)
        else:
            return "You have already borrowed two books!"
        
    else:
        rows=session.query(BorrowModel).join(BookModel).filter(BookModel.isbn==bookISBN)
        items=[]
        for row in rows:
            item={"Available Date":row.available_date}
            items.append(item)
        if items:
            return "Book Not available, it will be available on {}".format(items[0]['Available Date'])

        return "Book Not available, we can't give a date as when this will be available"
    
def bookborrow(std_id,book_id):
    #updates students borrow_amt column by 1
    try:
        session.query(StudentModel).filter(StudentModel.student_id==std_id).update({StudentModel.borrowed_amt: StudentModel.borrowed_amt+1})
        session.commit()
    except:
        return "Error occured while updating borrow amount"
    
    #updates book availability
    try:
        session.query(BookModel).filter(BookModel.book_id==book_id).\
        update({BookModel.bk_quantity: BookModel.bk_quantity-1})
        session.commit()
    except:
        "Error updating book availability"

    try:
        borrow1=BorrowModel(std_id,book_id,"Issued")
        session.add(borrow1)
        session.commit()
    except:
        return "Error occured while upadting borrow table"
    return "Book successfully borrowed for 7 days"
    
bookISBN=str(input("Enter the ISBN of the book you want to borrow: "))
std_id=int(input("Enter your Student Identification number: "))
print(check_availability(bookISBN,std_id))

Enter the ISBN of the book you want to borrow439023483
Enter your Student Identification number1
Book successfully borrowed for 7 days

In [36]:
'''This section allows students to return the books, note the change in tables'''
def bookcheck(std_id):
    #This query joins BorrowModel and StudentModel on student_id.
    #Its used to filter student and check the status.
    rows=session.query(BorrowModel).join(StudentModel)\
    .filter(and_(StudentModel.borrowed_amt!=0,BorrowModel.student_id==std_id,\
                 not_(BorrowModel.status.contains('Returned'))))
    if rows:
        for row in rows:
            item={
        "Student ID":row.student_id,
        "Book ID":row.book_id,
        "Borrowed Date":row.borrowed_date,
        "Due Date":row.available_date,
        "Status":row.status}
            items.append(item)
        if len(items)!=0:
            return items
        return False
            
def bookreturn(std_id,bk_id):
    try:
        session.query(BorrowModel).filter(and_(BorrowModel.book_id==bk_id,BorrowModel.student_id==std_id)).\
        update({BorrowModel.status:"Returned"})

        session.query(BookModel).filter(BookModel.book_id==bk_id).\
        update({BookModel.bk_quantity: BookModel.bk_quantity+1})
        
        session.query(StudentModel).filter(StudentModel.student_id==std_id).\
        update({StudentModel.borrowed_amt: StudentModel.borrowed_amt-1})
        session.commit()
    except:
        return "Error Returning Book"
    
    return "Book Successfully returned"

        
items=[]
std_id=int(input("Please enter Student ID: "))

if bookcheck(std_id)!=0:
    print(items)
    bk_id=str(input("Enter the Book_ID from the list: "))
    for i in items:
        if i['Book ID']==bk_id:
            print(bookreturn(std_id,int(bk_id)))
        else:
            print("No such book is allocated")
    
else:
    print("Student ID doesn't exist OR you might not have borrowed that book")

please enter Student ID1
Student ID doesn't exist OR you might not have borrowed that book

In [7]:
session.query(BorrowModel).delete()
session.commit()

In [22]:
#I used this query to manipulate the book count
session.query(BookModel).filter(BookModel.book_id==1).\
update({BookModel.bk_quantity: BookModel.bk_quantity-1})
session.commit()

In [ ]:
#Useful statement when we are testing the code. Especially used to reset borrow limit by decrementing by 1
session.query(StudentModel).filter(StudentModel.student_id==1).\
update({StudentModel.borrowed_amt: StudentModel.borrowed_amt+1})
session.commit()

In [13]:
#to terminate any active session at the end
session.close()